ccc
*.o
*~
tmp*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# for debug
.vscode/
tests
ext
test.s
ext.*
.gdb_history

# stages
stage1/
stage2/
stage3/
Makefile
